<h1>Listing roadblocks</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roadblocks.each do |roadblock| %>
  <tr>
    <td><%= roadblock.description %></td>
    <td><%= roadblock.status %></td>
    <td><%= link_to 'Show', roadblock %></td>
    <td><%= link_to 'Edit', edit_roadblock_path(roadblock) %></td>
    <td><%= link_to 'Destroy', roadblock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Roadblock', new_roadblock_path %>
