<tr>
  <td><%= @task.description %></td>
  <% enlistment = Enlistment.where(user_id: @user.id, lab_id: @task.lab.id).first %>
  <% enlistment_task = EnlistmentTask.where(enlistment_id: enlistment.id, task_id: @task.id).first %>
  <td class="et_<%=enlistment_task.id  %>">
  <% if enlistment_task.status == "working" %>
    <%= link_to(image_tag('empty_circle.png', size: '16x16'), set_status_enlistment_task_path(enlistment_task.id, status: "red_light"), remote: true) %>
  <% elsif enlistment_task.status == "red_light" %>
    <%= link_to(image_tag('red_dot.png', size: '16x16'), set_status_enlistment_task_path(enlistment_task.id, status: "green_light"), remote: true) %>
  <% elsif enlistment_task.status == "green_light" %>
    <%= link_to(image_tag('green_dot.png', size: '16x16'), set_status_enlistment_task_path(enlistment_task.id, status: "working"), remote: true) %>
    </td>
  <% end %>
</tr>

