<p id="notice"><%= notice %></p>

<div class="tooltip">
tooltip
  <span>this is a tooltip</span>
</div>

<div>
  <p>
    <b>Name:</b>
    <%= @lab.name %>
  </p>


  <table id="tasks">
    <tr>
      <th>Task Name</th>
      <% @lab.enlistments.each do |enlistment| %>
          <th><%= enlistment.user.name %></th>
      <% end %>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <!-- weird strategy for listing enlistments tasks below to hack pas a heroku error that reordered the list on refresh -->
        <td><%= task.description %></td>
        <% @lab.enlistments.each do |enlistment| %>

          <% enlistment_task = EnlistmentTask.where(enlistment_id: enlistment.id, task_id: task.id).first %>
          <td class="et_<%=enlistment_task.id  %>">
          <% if enlistment_task.status == "working" %>
            <%= link_to(image_tag('empty_circle.png', size: '16x16'), set_status_enlistment_task_path(enlistment_task.id, status: "red_light"), remote: true) %>
          <% elsif enlistment_task.status == "red_light" %>
            <%= link_to(set_status_enlistment_task_path(enlistment_task.id, status: "green_light"), remote: true, class: 'tooltip') do %>
              <%= image_tag('red_dot.png', size: '16x16') %>
              <span><%= enlistment_task.error_description %></span>
            <% end %>
          <% elsif enlistment_task.status == "green_light" %>
            <%= link_to(image_tag('green_dot.png', size: '16x16'), set_status_enlistment_task_path(enlistment_task.id, status: "working"), remote: true) %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= form_for(Task.new, remote: true) do |f| %>
      <%= f.hidden_field :lab_id, value: @lab.id %>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<div>
  <% if @current_enlistment %>
    <% name = @current_enlistment.user.name %>
    <h2><%= "#{name.capitalize}'s Tasks" %></h2>
  <% end %>
  <table id="user_tasks">
    <tr>
      <th>Task</th>
      <th>Status</th>
    </tr>
    <% unless @current_enlistment == nil %>
      <% sorted_enlistment_tasks = @current_enlistment.enlistment_tasks.sort_by(&:created_at) %>
      <% sorted_enlistment_tasks.each do |enlistment_task| %>
        <tr>
          <td><%= enlistment_task.task.description %></td>
          <td class="et_<%=enlistment_task.id  %>">
          <% if enlistment_task.status == "working" %>
            <%= link_to(image_tag('empty_circle.png', size: '16x16'), set_status_enlistment_task_path(enlistment_task.id, status: "red_light"), remote: true) %>
          <% elsif enlistment_task.status == "red_light" %>
            <%= link_to(set_status_enlistment_task_path(enlistment_task.id, status: "green_light"), remote: true, class: 'tooltip') do %>
              <%= image_tag('red_dot.png', size: '16x16') %>
              <span><%= enlistment_task.error_description %></span>
            <% end %>
          <% elsif enlistment_task.status == "green_light" %>
            <%= link_to(image_tag('green_dot.png', size: '16x16'), set_status_enlistment_task_path(enlistment_task.id, status: "working"), remote: true) %>
          <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<% if @enlistment_tasks_with_errors.present? %>
  <div>
    Add Error Descriptions
    <% @enlistment_tasks_with_errors.each do |et| %>
      <div>
        <%= form_tag set_error_description_enlistment_task_path(et.id) do %>
          <%= et.task.description %>
          <%= text_field_tag :error_description, et.error_description %>
          <%= submit_tag 'submit error' %>
        <% end -%>
      </div>
    <% end -%>
  </div>

<% end %>

<%= link_to 'Edit', edit_lab_path(@lab) %> |
<%= link_to 'Back', labs_path %>

<%= subscribe_to "/tasks/new" %>
<%= subscribe_to "/status/update" %>
