<!DOCTYPE html>
<html>
<head>
  <title>ClassLabs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:user_name] %>
  <p>Hi, <%= session[:user_name] %></p>
  <p><%= link_to "Sign Out", "/logout" %></p>
<% else %>
  <p><%= link_to("login", '/login') %></p>
<% end %>
<%= yield %>

</body>
</html>
